<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta property="og:url" content="https://erambler.co.uk/tweet-archive/jezcope/status/1353814867615088640" />
  <meta property="og:title" content="Jez 💛 on Twitter (archived)" />
  <meta property="og:description" content="I've started a project to train a handwriting model on my own hand. I really hope focusing on my own writing specifically ends up giving better results than the generic recognition in OneNote... <a href='https://erambler.co.uk/blog/training-a-handwriting-model/'>https://erambler.co.uk/blog/training-a-handwriting-model/</a>
#crosspost" />
  
  

  <title>I've started a project to train a handwriting model on my own hand. I really hope focusing on my own writing specifically ends up giving better results than the generic recognition in OneNote... <a href="https://erambler.co.uk/blog/training-a-handwriting-model/">https://erambler.co.uk/blog/training-a-handwriting-model/</a>
#crosspost</title>
  <link rel="stylesheet" href="../../../styles.css">
</head>
<body>
  <div class="wrapper">
  	<div class="flex-wrap">
      <a href="../../../">
        <p>&larr; @jezcope Twitter archive</p>
      </a>
      
  	  <article class="tweet  " id="main">
  	    <p class="display_name">
  	      Jez 💛
  	    </p>
  	    <p class="user_name">
  	      @jezcope
  	    </p>
  	    <p class="full_text">
  	      I've started a project to train a handwriting model on my own hand. I really hope focusing on my own writing specifically ends up giving better results than the generic recognition in OneNote... <a href="https://erambler.co.uk/blog/training-a-handwriting-model/">https://erambler.co.uk/blog/training-a-handwriting-model/</a><br>#crosspost
  	    </p>
  	    <p class="created_at">
  	      25/01/2021, 21:19:51
  	    </p>
  	    <p class="favorite_count">Favs: 2</p>
  	    <p class="retweet_count">Retweets: 0</p>
  	    <a class="permalink" href="../1353814867615088640">link</a>
  	  </article>

  	</div>
  </div>
</body>
<script>
document.getElementById('main').scrollIntoView();
</script>
</html>